<app-home>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Game Mania | Home </title>
    </head>

    <body>

        <header>

            <!--- TOPBAR -->
            <div class="container-grid">

                <!---- <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="#">About</a>
                  <a href="#">Services</a>
                  <a href="#">Clients</a>
                  <a href="#">Contact</a>
                </div>
              </div>

              <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span> 

            -->

                <!--- LOGO -->
                <a href="">
                    <img src="img/LOGO.png" alt="LOGO DO SITE" style="width:200px; height:auto;">
                </a>


                <!--- LINKS DE TOPBAR -->
                <nav class="menu">
                    <a href="" title="SAC"><img src="img/SAC.svg"></a>
                    <a href="" title="FAVORITOS"><img src="img/FAVORITOS.svg"></a>
                    <a href="" title="CARRINHO DE COMPRAS"><img src="img/CARRINHO DE COMPRAS.svg"></a>
                </nav>
            </div>

        </header>


        <div class="submenu">
            <div class="dropdown">
                <button class="dropbtn">DEPARTAMENTOS</button>
                <div id="menu" class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <a href="">DESTAQUES</a>
            <a href="">CADASTRE-SE</a>
            <form class="example" action="action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>

        </div>

        <div class="banner">
        </div>

        <main>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

                <div class="campo-label">
                    <label for="email">E-MAIL:</label>
                    <input type="email" name="email" id="email" placeholder="Ex.: email@email.com" [(ngModel)]="loginModel.email">
                </div>

                <div class="campo-label">
                    <label for="senha">SENHA:</label>
                    <input type="password" name="password" id="senha" placeholder="Sua senha aqui." [(ngModel)]="loginModel.password">
                </div>
                <input id="botao-enviar" type="submit" value="Fazer Login">

            </form>
            <p id="mensagem" *ngIf="mensagem != ''">{{mensagem}}</p>
        </main>

        <footer>
            <div class="rodape container-grid">
                <div class="links-footer">

                    <div class="links">
                        <h5>SIGA-NOS:</h5>
                        <ul>
                            <li><a href="">INSTAGRAM</a></li>
                            <li><a href="">FACEBOOK</a></li>
                            <li><a href="">TWITCH</a></li>
                            <li><a href="">TWITTER</a></li>
                            <li><a href="">YOUTUBE</a></li>
                        </ul>
                    </div>

                    <div class="links">
                        <h5>PÁGINAS</h5>
                        <ul>
                            <li><a href="">SOBRE A EMPRESA</a></li>
                            <li><a href="">CENTRAL DE ATENDIMENTO</a></li>
                            <li><a href="">TERMOS DE USO</a></li>
                            <li><a href="">POLÍTICA DE PRIVACIDADE</a></li>
                            <li><a href="">COMPRA SEGURA</a></li>
                        </ul>
                    </div>
                </div>

                <img class="logo-rodape" src="img/LOGO.png">

                <div class="disponivel">
                    <a href=""><img src="img/APPLE STORE.png"></a>
                    <a href=""><img src="img/PLAYSTORE.png"></a>
                </div>
            </div>
        </footer>

        <script src="js/jquery-3.6.0.js"></script>
        <script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p " crossorigin="anonymous "></script>
    </body>
</app-home>